<section class="gh-topic gh-topic-grid">
    
    {{!-- Display the tag name and description --}}
    <div class="topic-showcase">
        <div class="topic-name">
            <a href="{{url}}"><h2>{{name}}</h2></a>
        </div>

        {{#if description}}
            <div class="topic-description">
                <p>{{description}}</p>
            </div>
        {{/if}}
    </div>
    
    {{!-- Get the featured posts from this tag and display them in a carousel --}}
    {{!-- TODO: Find an aesthetic way to differentiate these all as featured,
    probably with an icon of some kind --}}
    <div class="topic-carousel">
        {{#get "posts" include="tags,authors" filter="tag:{{slug}}+featured:true" limit="6"}}
            {{> 'carousel'}}
        {{/get}}
    </div>

    {{!-- Get the 4 latest posts from this tag and display them as cards --}}
    {{!-- TODO: Find an aesthetic way to differentiate these as latest,
    perhaps by accentuating the dates, or maybe it's fine as it is --}}
    <div class="topic-content">
        {{#get "posts" include="tags,authors" filter="tag:{{slug}}" limit="4"}}
            <div class="topic-posts">
                {{#foreach posts}}
                    {{> 'topic-card'}}
                {{/foreach}}
            </div>
        {{/get}}
    </div>


    <footer class="gh-topic-footer">
            <a class="gh-topic-link" href="{{url}}">More {{> "icons/arrow-right"}}</a>
    </footer>
</section>