<section class="gh-topic gh-topic-grid">
    
    {{!-- Display the tag name and description --}}
    <div class="topic-showcase">
        <div class="topic-name">
            <a href="{{url}}"><h2>{{name}}</h2></a>
        </div>
    </div>

    <div class="topic-items">
        {{!-- Get the featured posts from this tag and display them in a carousel --}}
        <div class="topic-carousel">
            {{#get "posts" include="tags,authors" filter="tag:{{slug}}+featured:true" limit="6"}}
                {{> 'carousel'}}
            {{/get}}
        </div>

        {{!-- Get the 4 latest posts from this tag and display them as cards --}}
        <div class="topic-content">
            {{#get "posts" include="tags,authors" filter="tag:{{slug}}" limit="4"}}
                <div class="topic-posts">
                    {{#foreach posts}}
                        {{> 'feed'}}
                    {{/foreach}}
                </div>
            {{/get}}
        </div>
    </div>

    <footer class="gh-topic-footer">
            <a class="gh-topic-link" href="{{url}}">More {{> "icons/arrow-right"}}</a>
    </footer>
</section>