{{!--
    TODO: refactor to accomplish the following:
    - latest post is on the left and has a great big box for the image
    - other posts are on the right in a list format
    - each post has:
        - title
        - excerpt
        - feature image (if available)
        - date published
        - estimated reading time
--}}
<section class="gh-topic gh-topic-minimal">
    {{!-- Display the tag name and link to the tag page --}}
    <header class="gh-topic-header">
        <h2 class="gh-topic-name">
            <a href="{{url}}">{{name}}</a>
        </h2>
        <a class="gh-topic-link" href="{{url}}">More {{> "icons/arrow-right"}}</a>
    </header>

    <div class="topic-content">
        {{!-- Get the 4 latest posts from this tag --}}
        {{#get "posts" include="tags,authors" filter="tag:{{slug}}" limit="4"}}
            <div class="topic-latest">
                {{#foreach posts limit='1'}}
                    {{!-- Latest post container --}}
                    <article class="gh-card">
                        <a class="gh-card-link" href="{{url}}">
                            <h3 class="gh-card-title">{{title}}</h3>
                        </a>
                    </article>
                {{/foreach}}
            </div>
            
            <div class="topic-other">
                {{#foreach posts from='2'}}
                    {{!-- Other posts --}}
                    <article class="gh-card">
                        <a class="gh-card-link" href="{{url}}">
                            <h3 class="gh-card-title">{{title}}</h3>
                        </a>
                    </article>
                {{/foreach}}
            </div>
        {{/get}}
    </div>
</section>