{{!-- TODO: Move the tag name and description into the header

The result should be something like this:

TAGNAME                  short description of the tag
=====================================================

 --}}
<section class="gh-topic gh-topic-grid">
    
    {{!-- Display the tag name and description --}}
    <div class="topic-showcase">
        <div class="topic-name">
            <a href="{{url}}"><h2>{{name}}</h2></a>
        </div>

        {{#if description}}
            <div class="topic-description">
                <p>{{description}}</p>
            </div>
        {{/if}}
    </div>

    <div class="topic-content">
        {{!-- Get the 6 latest posts from this tag and display them as cards --}}
        {{#get "posts" include="tags,authors" filter="tag:{{slug}}" limit="6"}}
            <div class="topic-posts">
                {{#foreach posts}}
                    {{> 'topic-card'}}
                {{/foreach}}
            </div>
        {{/get}}
    </div>
    <footer class="gh-topic-footer">
            <a class="gh-topic-link" href="{{url}}">More {{> "icons/arrow-right"}}</a>
    </footer>
</section>