{{!-- TODO: Add featured indicator (maybe a little star or something) --}}
<article class="gh-card">
    <a class="gh-card-link" href="{{url}}">
        <div class="gh-card-wrapper">
            <div class="post-meta gh-card-item-one">
                {{!-- Display post date --}}
                <span class="post-meta-item post-meta-date">
                    <time datetime="{{date format=" YYYY-MM-DD"}}">{{date published_at format="DD MMM"}}</time>
                </span>
                {{!-- Display post primary tag --}}
                {{#primary_tag}}
                    <span class="post-meta-item post-meta-tags gh-card-primary-tag">{{name}}</span>
                {{/primary_tag}}
            </div>

            <h3 class="gh-card-title gh-card-item-two">{{title}}</h3>

            <div class="post-meta gh-card-item-three">
                {{!-- Display reading time --}}
                {{#if reading_time}}
                    <span class="post-meta-item post-meta-length">{{reading_time}}</span>
                {{/if}}
            </div>
        </div>
    </a>
</article>