{{!--
    TODO: refactor to accomplish the following:
    - area on the left contains the category and its description
    - area on the right contains the latest posts in a list format as cards, with:
        - title
        - excerpt
        - feature image (if available)
        - date published
        - estimated reading time
--}}
<section class="gh-topic gh-topic-grid">
    <div class="topic-content">
        {{!-- Display the tag name and description --}}
        <div class="topic-showcase">
            <h2 class="topic-name">
                <a href="{{url}}">{{name}}</a>
            </h2>
            <span class="topic-description">
                <p>{{description}}</p>
            </span>
            <header class="gh-topic-header">
                    <a class="gh-topic-link" href="{{url}}">More {{> "icons/arrow-right"}}</a>
            </header>
        </div>

        {{!-- Get the 6 latest posts from this tag --}}
        {{#get "posts" include="tags,authors" filter="tag:{{slug}}" limit="6"}}
            <div class="topic-posts">
                {{#foreach posts}}
                    {{> 'topic-card'}}
                {{/foreach}}
            </div>
        {{/get}}
    </div>
</section>