{{!< default}}

<main id="home-main">
    {{!-- Hero section featuring site title and description with a button prompt to subscribe (for those not subscribed) --}}
    <section class="home-hero gh-outer">
        <div class="gh-inner">
            <div class="hero-content">
                <div class="hero-text">
                    {{#unless @custom.hero_title}}
                        {{!-- Default hero title (site title) --}}
                        <h1 class="decorated-font">{{@site.title}}</h1>
                    {{else}}
                        {{!-- Custom hero title --}}
                        <h1 class="decorated-font">{{@custom.hero_title}}</h1>
                    {{/unless}}
                    
                    {{#if @custom.hero_subtitle}}
                        {{!-- Custom hero subtitle  --}}
                        <p>{{@custom.hero_subtitle}}</p>
                    {{/if}}
                </div>

                
                {{!-- <div class="hero-buttons"> --}}
                    {{!-- {{#unless @member}} --}}
                        {{!-- Non-member buttons --}}
                        {{!-- <button class="gh-btn gh-primary-btn" data-portal="signup">{{> "icons/rss"}} Subscribe</button> --}}
                    {{!-- Use else statement here to add member buttons --}}
                    {{!-- {{/unless}} --}}
                {{!-- </div> --}}
            </div>
        </div>
    </section>

    {{!-- Latest posts section for primary tags --}}
    {{#if @custom.primary_tag_slugs}}
        <section class="home-latest gh-outer">
            <div class="gh-inner">
                {{!-- Optionally displaying a title for the latest section, if provided by user --}}
                {{#if @custom.latest_title}}
                    <div class="latest-title">
                        <h2>{{@custom.latest_title}}</h2>
                    </div>
                {{/if}}
                <div class="latest-content">
                    {{#get "tags" filter="slug:[{{@custom.primary_tag_slugs}}]"}}
                        {{#foreach tags}}
                            {{> "latest-card"}}
                        {{/foreach}}
                    {{/get}}
                </div>
            </div>
        </section>
    {{/if}}

    {{!-- Exploration section for secondary tags --}}
    {{#if @custom.secondary_tag_slugs}}
        <section class="home-topics gh-outer">
            <div class="gh-inner">
                {{#get "tags" filter="slug:[{{@custom.secondary_tag_slugs}}]"}}
                    <div class="gh-topic-list">
                        {{#foreach tags}}
                            {{> "topic-exploration"}}
                        {{/foreach}}
                    </div>
                {{/get}}
            </div>
        </section>
    {{/if}}
</main>